<!--The content below is only a placeholder and can be replaced.-->
<div id="product-search">
  <h4>Product Search</h4>
  <label>Product ID: </label> <input #productId />
  <button (click)="findProduct(productId.value); productId.value=''">
    Search
  </button>
  <div *ngIf="product">
    <br /><br />
    SKU: {{product.sku}}<br />
    Name: {{product.name}}<br />
    Description: {{product.description}}<br />
    Manufacturer: {{product.manufacturer}}<br />
    Model: {{product.model}}<br />
    Price: {{product.price}}<br />
    Stock Remaining: {{product.stockRemaining}}<br />
  </div>
</div>

